
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

//@theme "/home/yeagerist39/.local/share/rofi/themes/rounded-gray-dark.rasi"

@theme "/home/yeagerist39/.local/share/rofi/themes/rounded-nord-dark.rasi"
